// Shared Output
// =============

@include output-test-module('render') {
  @include output-test('render') {
    $map: (
      width: 3em,
      position: relative,
    );
    @include assert-setup('render');
    @include assert-output(
      'Property value pairs are passed in as maps and rendered as CSS.'
    ) {
      .test {
        @include susy-render($map);
      }
      .expect {
        @each $prop, $val in $map {
          #{$prop}: $val;
        }
      }
    }
  }
}
